body{
    background-image: url("../images/australia.jpeg");
}
.input-param{
    margin-top:10px;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
}

.input-parameter{
    color:black;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.grid-container2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}